<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%-headTags%> <%-styles%> <%-linkTags%>
  </head>
  <body>
    <div id="loader">
      <div class="spinner">
        <span class="spinnerInner1"></span>
        <span class="spinnerInner2"></span>
        <span class="spinnerInner3"></span>
      </div>
    </div>
    <div id="root"><%-content%></div>
    <script id="store-state" type="application/json">
      <%-JSON.stringify(state)%>
    </script>
    <%-scriptTags%>
  </body>
</html>
